*{margin:0;padding:0;box-sizing:border-box;font-family:Tajawal,sans-serif}
body{background:#0f172a;color:#fff}
a{text-decoration:none;color:inherit}

header{
  padding:25px;
  text-align:center;
  background:linear-gradient(135deg,#2563eb,#22d3ee);
  box-shadow:0 0 40px #22d3ee;
}

.menu{
  position:fixed;top:15px;right:15px;
  font-size:30px;cursor:pointer;z-index:1000
}

.side{
  position:fixed;top:0;right:-260px;
  width:260px;height:100%;
  background:#020617;
  padding:20px;
  transition:.4s;
}
.side.active{right:0}
.side a{
  display:block;
  padding:12px;
  margin:10px 0;
  background:#020617;
  border-radius:8px;
  border:1px solid #1e293b;
}

.cards{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:20px;
  padding:30px;
}

.card{
  background:#020617;
  padding:20px;
  border-radius:16px;
  box-shadow:0 0 25px rgba(34,211,238,.3);
  animation:fade .6s ease;
}
.card button{
  width:100%;margin-top:10px;
  padding:10px;border:none;
  background:#22d3ee;color:#000;
  border-radius:8px;font-weight:bold;
  cursor:pointer;
}

@keyframes fade{
  from{opacity:0;transform:translateY(20px)}
  to{opacity:1;transform:translateY(0)}
}

input,textarea{
  width:100%;padding:12px;
  margin:8px 0;border-radius:8px;
  border:none;
}

.btn{
  width:100%;padding:12px;
  background:#22d3ee;color:#000;
  border:none;border-radius:8px;
  font-weight:bold;cursor:pointer;
}