body {
    background: #05070a;
    color: white;
    font-family: 'Cairo', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.glass-card {
    background: #11141d;
    padding: 30px;
    border-radius: 20px;
    border: 1px solid rgba(0, 210, 255, 0.2);
    box-shadow: 0 15px 35px rgba(0,0,0,0.7);
    text-align: center;
    width: 350px;
}

.full-width { width: 90%; max-width: 800px; }

input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    background: #000;
    border: 1px solid #333;
    color: #00d2ff;
    border-radius: 10px;
    box-sizing: border-box;
}

.btn-main {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(45deg, #00d2ff, #3a47d5);
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}

.console-box {
    background: #000;
    color: #00ff88;
    padding: 15px;
    height: 200px;
    overflow-y: auto;
    text-align: left;
    direction: ltr;
    font-family: monospace;
    border-radius: 10px;
    margin: 20px 0;
}
